<div class="container-fluid">
  <!-- 
  <app-header></app-header>
  <app-header  titre="monAppli"></app-header>
  <app-header  [titre]="'monAppli'"></app-header>
  -->
  <app-header  [titre]="title"></app-header>
  <!--
  <div>
    <h1>bienvenue to {{title}}</h1>
  </div>
  -->
  <!--
  <app-basic></app-basic>
  -->
  <!-- la balise spéciale router-outlet de angular 
      sera automatiquement remplacée par le composant associé 
      à la route courante/sélectionnée -->
  <router-outlet></router-outlet>

  <app-footer></app-footer>
</div>