<p>login (ex: admin1 , pwdadmin1 , admin</p>

<form #formLogin="ngForm">
   <div class="row form-group">
    <label class="col-sm-3 text-sm-end form-label">username:</label>
    <div class="col-sm-9">
       <input name="username" class="form-control  mb-1" [(ngModel)]="login.username" required pattern="^[a-zA-Z].+" />
   </div>
  </div>
  <div class="row form-group">
       <label class="col-sm-3 text-sm-end form-label">password:</label>
       <div class="col-sm-9">
           <input name="password" class="form-control  mb-1" [(ngModel)]="login.password" required minlength="3"/>
       </div>
   </div>
   <div class="row form-group">
        <label class="col-sm-3 text-sm-end form-label">roles:</label>
        <div class="col-sm-9">
          <input name="roles" class="form-control mb-1" [(ngModel)]="login.roles" required />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-9 offset-sm-3">
            <button (click)="onLogin()" class="btn-primary" [disabled]="!formLogin.form.valid"  >
                login <i class="bi-person"></i></button>
            &nbsp;
            <button (click)="onLogout()" class="btn-danger"   >
                logout </button>
       </div> 
    </div>
</form>
<p [style.color]="sessionService.connecte?'green':'red'">{{message}}</p>