<!-- <p class="entete"> -->
<p [style.backgroundColor]="preferencesService.couleurFond">
    <img width="30px" height="30px" src="assets/images/logo.png" />
    {{titre}}
    <a routerLink="/welcome">welcome</a> &nbsp;
    <a routerLink="/devise">devise</a> &nbsp;
    <a routerLink="/deviseV2">deviseV2</a> &nbsp;
    <a routerLink="/login">login</a> &nbsp;
    <a routerLink="/convertisseur">convertisseur</a> &nbsp;
    <a routerLink="/basic">basic</a> &nbsp;
    <a routerLink="/demo">demo</a> 
</p>
