<div class="row">
 <div class="col-sm-5" >
   <div class="card">
    <div class="card-header text-white bg-primary">Liste des devises</div>
    <div class="card-body">
    <table class="table table-bordered">
        <tr><th>code</th><th>name</th><th>change</th></tr>
        <tr *ngFor="let d of tabDevises ; let i=index"
            (click)="onSelectDevise(d,i)"
            [class.selected]="d==selectedDevise">
            <td>{{d.code}}</td><td>{{d.name}}</td><td>{{d.change}}</td>
        </tr>
    </table> <!-- end of table -->
    <!-- 
    message: <b>{{message | uppercase}}</b>
    -->
    </div> <!-- end of card-body -->
   </div><!-- end of card -->
  </div> <!-- end of col-sm-5 -->
  <div class="col-sm-7" >
    <div class="card">
    <div class="card-header text-white bg-primary">devise selectionnée</div>
    <div class="card-body">
    <form #formDevise="ngForm">
        <div class="row form-group">
        <label class="col-sm-3 text-sm-end form-label">code:</label>
        <div class="col-sm-9">
            <input name="code" class="form-control  mb-1" [(ngModel)]="deviseTemp.code" required minlength="3" />
        </div>
    </div> <!-- end of row form-group -->
    <div class="row form-group">
            <label class="col-sm-3 text-sm-end form-label">name:</label>
            <div class="col-sm-9">
                <input name="nom" class="form-control  mb-1" [(ngModel)]="deviseTemp.name" required />
            </div>
        </div> <!-- end of row form-group -->
        <div class="row form-group">
            <label class="col-sm-3 text-sm-end form-label">change:</label>
            <div class="col-sm-9">
            <input name="change" type="number" class="form-control mb-1" [(ngModel)]="deviseTemp.change" required />
            </div>
        </div><!-- end of row form-group -->
        <div class="row form-group">
            <div class="col-sm-9 offset-sm-3">
                <button (click)="onUpdate()" class="btn-primary" [disabled]="!formDevise.form.valid"  >
                    update <i class="bi-save"></i></button>
            </div> 
        </div><!-- end of row form-group -->
    </form><!-- end of form -->
    </div> <!-- end of card-body -->
   </div><!-- end of card -->
  </div> <!-- end of col-sm-7 -->
</div><!-- end of main row -->